/* General */
@font-face {
  font-family: "Roboto-Regular", sans-serif;
  src: url(../fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto-Bold", sans-serif;
  src: url(../fonts/roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto-Medium", sans-serif;
  src: url(../fonts/roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: "SFProDisplay-Regular", sans-serif;
  src: url(../fonts/sf-pro/SFProDisplay-Regular.ttf);
}
@font-face {
  font-family: "SFProDisplay-Heavy", sans-serif;
  src: url(../fonts/sf-pro/SFProDisplay-Heavy.ttf);
}
@font-face {
  font-family: "SFProDisplay-Bold", sans-serif;
  src: url(../fonts/sf-pro/SFProDisplay-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
}
:root {
  --font-family-Roboto-Regular: "Roboto-Regular";
  --font-family-Roboto-Bold: "Roboto-Bold";
  --font-family-Roboto-Medium: "Roboto-Medium";
  --font-family-SFProDisplay-Regular: "SFProDisplay-Regular";
  --font-family-SFProDisplay-Heavy: "SFProDisplay-Heavy";
  --font-family-SFProDisplay-Bold: "SFProDisplay-Bold";
  --color-text1: #000000;
  --color-text2: #60e6f8;
  --color-text3: #2491e2;
  --color-text4: #c7f0f6;
  --color-text5: #707070;
  --color-text6: #f41b1b;
  --color-text7: #dead04;
  --color-text8: #eaeaea;
}
@-moz-document url-prefix() {
  html,
  body {
    scrollbar-width: none;
  }
}
body {
  font-size: 20px;
  color: var(--color-text1);
  font-family: var(--font-family-Roboto-Regular), sans-serif;
}
html {
  scrollbar-width: none; /* Firefox 64 */
}
a {
  text-decoration: none;
  display: inline-block;
  color: var(--color-text1);
  cursor: pointer;
}
a:hover {
  color: var(--color-text1);
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
p,
img,
ul,
li {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
img {
  width: 100%;
  height: auto;
}
.padding-1 {
  padding-left: 10px;
  padding-right: 10px;
}
.padding-b {
  padding: 30px 0;
}
.line {
  height: 1px;
  width: 90%;
  margin: auto;
  background-color: var(--color-text5);
  display: block;
}
p {
  font-family: var(--font-family-Roboto-Regular), sans-serif;
}
/* Header */
.header {
  text-align: center;
  position: relative;
}
.logo-top {
  display: inline-block;
  margin-top: 30px;
}
.logo-top .logo-img {
  width: 125px;
}
.logo-top h2 {
  font-family: var(--font-family-SFProDisplay-Bold), sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: var(--color-text2);
  text-transform: uppercase;
  margin: 10px 0;
  width: 100%;
}
.open-menu {
  position: absolute;
  top: 40px;
  right: 20px;
  z-index: 1;
  background: none;
  border: none;
  cursor: pointer;
}
.menu-mobile {
  width: 80%;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 2;
  transition: 0.4s;
}
.menu-mobile.active {
  right: 0;
}
.menu-mobile .btn-closes {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 3;
}
.menu-mobile .btn-closes img,
.menu-mobile li a img {
  width: 26px;
  margin-right: 15px;
}
.menu-mobile ul {
  height: 100%;
  padding: 80px 30px 0 45px;
  overflow: scroll;
}
.menu-mobile li {
  position: relative;
}
.menu-mobile ul li a {
  font-family: var(--font-family-Roboto-Bold), sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}
.menu-mobile ul li {
  margin-bottom: 30px;
}
.menu-mobile ul li img.hot {
  position: absolute;
  top: 46%;
  transform: translateY(-50%);
  right: -30px;
  z-index: 2;
}
.bg-overlay-black {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  display: none;
}
.header .left p {
  font-size: 18px;
  font-family: var(--font-family-SFProDisplay-Heavy), sans-serif;
  color: var(--color-text1);
  margin: 15px 0;
  font-weight: bold;
  text-transform: uppercase;
}
.register,
.download {
  font-size: 20px;
  font-family: var(--font-family-SFProDisplay-Heavy), sans-serif;
  color: var(--color-text1);
  font-weight: bold;
  background: var(--color-text2);
  padding: 10px 15px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 12px;
}
.section-banner .list-top-mobile .card-news .card-new {
  padding-bottom: 20px;
}
/* End Header */
/* Section Banner */
.section-banner {
  margin: 15px 0 30px;
}
.section-banner .item .item-banner {
  margin-bottom: 5px;
}
.owl-prev {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}
.owl-next {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%);
}
.section-banner .list-top {
  padding: 0 20px;
}
.section-banner .list-top h1 {
  font-size: 14px;
  font-family: var(--font-family-Roboto-Bold);
  font-weight: bold;
  color: var(--color-text1);
  text-align: center;
}
.section-banner .list-top .card-news {
  padding: 3px;
}
.section-banner .list-top .card-news .card-new {
  height: 100%;
  background: var(--color-text4);
  border: 1px solid var(--color-text3);
  border-radius: 12px;
  overflow: hidden;
}
.section-banner .list-top .card-news h1.title {
  margin: 20px 0 20px;
}
.section-banner .list-top .card-news .line {
  margin: 0 auto 20px;
}
.section-banner .list-top .write-comment,
.section-banner .list-top span.icon {
  font-family: var(--font-family-Roboto-Regular);
  font-size: 9px;
}
.section-banner .list-top span.icon img {
  width: 15px;
  height: 11px;
}
.section-banner .list-top .write-comment {
  border: none;
  background: none;
}
.section-banner .list-top .reactions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section-banner .list-top .view img {
  margin-right: 3px;
}
.section-banner .list-top .favorite img {
  margin-left: 3px;
}
.list-top-mobile {
  margin-top: 20px;
  display: block;
}
.list-top-desk {
  display: none;
}
/* Section Banner */
/* About */
.section-aboutst666 p {
  font-size: 12px;
}
.section-aboutst666 .about-container {
  position: relative;
  background: var(--color-text4);
  padding: 80px 20px 20px;
  border-radius: 12px;
}
.section-aboutst666 .tags-about {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 300px;
  background: url(../img/item/background-about.png) no-repeat center center;
  background-size: cover;
  text-align: center;
}
.section-aboutst666 .tags-about img {
  width: 180px;
}
.section-aboutst666 h3 {
  font-family: var(--font-family-SFProDisplay-Heavy), sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 0;
}
.section-aboutst666 h3 span.s {
  color: var(--color-text7);
  text-transform: uppercase;
}
.section-aboutst666 h3 span.t666 {
  color: var(--color-text6);
  text-transform: uppercase;
}
.section-aboutst666 .item-about {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 125px;
  overflow: hidden;
  transition: 0.4s;
}
.section-aboutst666 .item-about.active {
  height: 100%;
}
.readmore-about {
  font-family: var(--font-family-Roboto-Medium), sans-serif;
  font-size: 13px;
  color: var(--color-text3);
  cursor: pointer;
}
.readmore-about:focus {
  color: var(--color-text3);
}
/* About */
/* Section HR */
.section-hr {
  display: none;
  margin-top: 30px;
}
.footer .footer-top .list-services .items {
  position: relative;
}
.footer .footer-top .list-services .items .actions {
  top: 30px;
  left: 24%;
  bottom: unset;
}
.footer .footer-top .list-services .items .actions span {
  min-width: 130px;
  border: 1px solid #000;
  text-align: center;
  cursor: pointer;
}
.footer .footer-top .list-services,
.section-news .news,
.section-hr .boxs {
  padding: 0;
}
.section-news .news .new,
.section-hr .boxs .box {
  border-radius: 12px;
}
.section-hr .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--color-text4);
  padding: 10px;
  height: 152px;
}
.section-hr .box .images {
  width: 20%;
}
.section-hr .box .right {
  width: 78%;
  text-align: center;
}
.section-hr .box .right h2 {
  font-family: var(--font-family-Roboto-Bold), sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}
.section-hr .box .right p {
  font-family: var(--font-family-Roboto-Regular), sans-serif;
  font-size: 16px;
}
/* Section HR */
/* Section News */
.section-news {
  margin-top: 15px;
}
.section-news .news .new {
  padding: 15px;
  height: 100%;
}
.section-news .news .new .icon {
  font-family: var(--font-family-SFProDisplay-Heavy), sans-serif;
  font-weight: bold;
  font-size: 25px;
  width: 100%;
  display: none;
  flex-direction: row;
  align-items: center;
  height: 65px;
  background: #ffffff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.section-news .news .new .icon img {
  width: 37px;
  margin-right: 15px;
}
.section-news .news .new .groups h2 {
  font-family: var(--font-family-Roboto-Bold), sans-serif;
  font-size: 14px;
  color: var(--color-text1);
  font-weight: bold;
}
.section-news .news .new .groups .date {
  font-family: var(--font-family-Roboto-Regular), sans-serif;
  font-size: 12px;
  color: var(--color-text1);
  display: block;
  color: var(--color-text6);
}
.section-news .news .new .groups p {
  display: none;
  font-family: var(--font-family-Roboto-Regular), sans-serif;
  font-size: 15px;
  color: var(--color-text1);
}
.section-news .news .new .groups .readmore {
  display: none;
  text-align: right;
}
.section-news .news .new .groups .readmore a {
  font-family: var(--font-family-Roboto-Bold), sans-serif;
  font-size: 16px;
  color: var(--color-text1);
  font-weight: bold;
}
.section-news .new .groups {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}
.section-news .new .groups .img-news {
  width: 50%;
}
.section-news .new .groups .img-news img {
  border-radius: 12px;
}
.section-news .new .groups .information {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Section News */
/* Footer */
.footer {
  margin: 20px 0;
}
.footer .footer-top h3 {
  font-family: var(--font-family-SFProDisplay-Bold), sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: var(--color-text3);
  text-transform: uppercase;
  height: 50px;
}
.footer .footer-top .items {
  display: flex;
  width: 50%;
}
.footer .footer-top .left {
  margin-right: 10px;
  padding-top: 3px;
}
.footer .footer-top .left img {
  width: 18px;
}
.footer .footer-top .right a {
  font-family: var(--font-family-Roboto-Regular);
  font-size: 12px;
  color: var(--color-text1);
  display: block;
  margin-bottom: 5px;
}
.footer .footer-top .right a:last-child {
  margin-bottom: 0;
}
.footer .footer-top .right a.sub {
  font-size: 10px;
}
.footer .footer-top .left,
.footer .footer-top .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer .footer-top .items {
  float: left;
  margin-bottom: 15px;
}
.footer .footer-bottom {
  margin: 50px 0 15px;
  background: var(--color-text4);
  border-radius: 20px;
  padding: 30px 10px;
}
.footer .footer-bottom h3 {
  font-family: var(--font-family-SFProDisplay-Heavy), sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: var(--color-text3);
  text-transform: uppercase;
  margin-bottom: 20px;
  height: 60px;
}
.footer .footer-bottom .groups-brands a {
  margin-bottom: 15px;
}
.footer .footer-bottom .groups-brands a img {
  border-radius: 12px;
}
.menu-games,
.menu-socials {
  text-align: center;
}
.menu-games {
  margin-top: 15px;
}
.footer .item-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer .item-container .items {
  width: 90%;
}
.footer-clubs a {
  margin-right: 15px;
}
/* End Footer */
/* Slider Mobile */
.carousel-mobile .item .menu-item-mobile {
  text-align: center;
  background: var(--color-text4);
  width: 310px;
  margin: 20px auto 0;
  padding: 15px 10px;
  border-radius: 12px;
}
.carousel-mobile .item.cobac .menu-item-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.carousel-mobile .item.cobac .menu-item-mobile a {
  flex: 1 0 0;
}
.carousel-mobile .item .menu-item-mobile a {
  font-family: var(--font-family-Roboto-Bold), sans-serif;
  font-weight: bold;
  font-size: 11px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  color: var(--color-text3);
  text-transform: uppercase;
}
.carousel-mobile .item .menu-item-mobile a svg {
  margin-bottom: 5px;
}
.carousel-mobile .item .menu-item-mobile a:last-child {
  margin-right: 0;
}
.carousel-mobile .item h2 {
  font-family: var(--font-family-SFProDisplay-Bold), sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: var(--color-text2);
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}
.carousel-mobile .item .menu-item-mobile a img {
  width: 37px;
  margin: 0 auto 10px;
}
.carousel-mobile .item.cobac .menu-item-mobile a img {
  width: 37px;
}
.carousel-mobile .item.tile .menu-item-mobile {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.carousel-mobile .item.tile .menu-item-mobile a {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 49%;
  text-align: left;
  margin: 0 0 15px 0; 
}
.carousel-mobile .item.tile .menu-item-mobile a .svg { 
  margin-right: 3px;
}
.carousel-mobile .item.tile .menu-item-mobile a .svg img {
  margin-bottom: 0;
}
.carousel-mobile .item.bank .menu-item-mobile a .svg {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.carousel-mobile .item.bank .menu-item-mobile {
  padding: 15px 0 15px 4px;
}
.carousel-mobile .item.bank .menu-item-mobile a {
  margin-right: 2px;
}
.carousel-home .owl-dots,
.carousel-mobile .owl-dots {
  text-align: center;
}
.carousel-home .owl-dots {
  margin-top: -15px;
}
.carousel-mobile .owl-dots .owl-dot.active {
  background: url(../img/item/dots-dam.png) no-repeat center center;
}
.carousel-mobile .owl-dots .owl-dot {
  background: url(../img/item/dots-lot.png) no-repeat center center;
  width: 17px;
  height: 4px;
  margin-right: 10px;
}
.carousel-home .owl-dots .owl-dot.active {
  background: url(../img/item/dotstron-dam.png) no-repeat center center;
}
.carousel-home .owl-dots .owl-dot {
  background: url(../img/item/dotstron-lot.png) no-repeat center center;
  width: 13px;
  height: 13px;
  margin-right: 10px;
}
.carousel-mobile .item-banner img:not(.menu-item-mobile img) {
  width: 320px !important;
  margin: auto;
}
.register-mobile {
  text-align: center;
  margin: 15px 0;
}
.register-mobile a {
  font-size: 15px;
  height: 33px;
  line-height: 33px;
  display: inline;
  padding: 10px 20px;
  margin-right: 15px;
  font-family: var(--font-family-SFProDisplay-Bold), sans-serif;
  font-weight: bold;
}
.register-mobile a:last-child {
  margin-right: 0;
}
.actions {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 999;
  transform: translateX(-50%);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.actions.active {
  display: flex;
}
.actions span {
  border-radius: 12px;
  padding: 10px 0;
  background: #ffffff;
  display: inline-block;
  margin-right: 10px;
  min-width: 145px;
  font-size: 13px;
  text-transform: capitalize;
}
.actions span:last-child {
  margin-right: 0;
}
/* .actions span.play-now {
  left: 0;
} */
.bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.ring-noti {
  display: none;
}
.carousel-home.carousel-home-mobile {
  display: block;
}
.carousel-home.carousel-home-desk {
  display: none;
}
.menu-socials a img {
  width: 41px;
  height: 41px;
  border-radius: 12px;
}
/* Slider Mobile */
/* Detail */
.menu-child {
  overflow: hidden;
  padding: 0 0.8rem;
  margin-top: 20px;
}
.menu-child ul {
  background: var(--color-text4);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  white-space: nowrap;
  overflow: auto;
  padding: 5px 15px;
}
.menu-child li {
  display: inline-block;
  margin-right: 15px;
}
.menu-child li a {
  font-family: var(--font-family-SFProDisplay-Heavy), sans-serif;
  font-size: 14px;
  color: var(--color-text1);
  text-transform: uppercase;
  font-weight: bold;
}
.menu-child li.active a {
  color: var(--color-text6);
}
.menu-child-2 li.active a {
  color: var(--color-text7);
}
.banner-detail {
  margin: 20px 0;
}
.banner-detail2 {
  margin: 30px 0;
}
#ez-toc-container,
.list-menu {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: 1px solid var(--color-text3);
  padding: 10px;
  margin-bottom: 15px;
}
#ez-toc-container ul.submenu,
.list-menu ul.submenu {
  margin-top: 30px;
}
#ez-toc-container ul,
.list-menu ul {
  counter-reset: legal;
  list-style-type: none;
  padding-left: 0.5rem;
}
#ez-toc-container ul ul,
.list-menu ul ul {
  padding-left: 1rem;
}
#ez-toc-container li::before,
.list-menu li::before {
  content: counters(legal, ".") ".";
  counter-increment: legal;
  font-size: 16px;
}
#ez-toc-container .arrow-icon,
#ez-toc-container .dropdown-button,
.list-menu .arrow-icon,
.list-menu .dropdown-button {
  width: 36px;
  cursor: pointer;
}
#ez-toc-container .arrow-icon,
.list-menu .arrow-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
}
#ez-toc-container .title,
.list-menu .title {
  font-family: var(--font-family-Roboto-Bold), sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: var(--color-text1);
  list-style: none;
  position: absolute;
  left: 53px;
  top: 8px;
  z-index: 2;
}
#ez-toc-container ul li a,
.list-menu ul li a {
  font-family: var(--font-family-Roboto-Regular), sans-serif;
  font-size: 14px;
  color: var(--color-text1);
  font-weight: 400;
}
.content h1.title {
  font-family: var(--font-family-Roboto-Bold), sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.content p,
.content h3.title {
  font-family: var(--font-family-Roboto-Regular), sans-serif;
  font-size: 14px;
  color: var(--color-text1);
  margin-bottom: 15px;
}
.content h3.title {
  margin-bottom: 0;
}
.list-post-related {
  margin: 70px 0;
  padding: 0 15px;
}
.post-related {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 15px;
  min-height: 133px;
}
.post-related h3,
.list-post-related h2.title {
  font-family: var(--font-family-Roboto-Bold), sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 0;
}
.post-related h3 {
  font-size: 16px;
  margin-bottom: 0;
}
.post-related .right {
  width: 45%;
  height: 100%;
  height: 133px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebars .post-related .right {
  height: 110px;
}
.post-related .right .date {
  font-family: var(--font-family-Roboto-Regular), sans-serif;
  font-size: 12px;
  color: var(--color-text1);
}
.post-related .left {
  width: 52%;
  height: 110px;
}
.sidebars .post-related .left {
  height: 133px;
}
.post-related .left a {
  height: 100%;
}
.post-related .left img {
  height: 100%;
}
.sidebars .list-post-related .post-related:nth-child(2n + 1) {
  padding-left: 0;
  padding-right: 0;
}
.sidebars .hand-sidebar {
  width: 26px;
  margin-right: 15px;
}
.sidebars h2.title {
  font-size: 20px;
}
.sidebars .list-post-related .post-related {
  margin-bottom: 20px;
}
.sidebars .banner-sidebar-right a {
  width: 100%;
  animation: nhapnhay 300ms infinite;
}
@-webkit-keyframes nhapnhay {
  0% {
    color: var(--color-text6);
  }
  50% {
    color: var(--color-text1);
  }
  100% {
    color: var(--color-text6);
  }
}
@-moz-keyframes nhapnhay {
  0% {
    color: var(--color-text6);
  }
  50% {
    color: var(--color-text1);
  }
  100% {
    color: var(--color-text6);
  }
}
@-o-keyframes nhapnhay {
  0% {
    color: var(--color-text6);
  }
  50% {
    color: var(--color-text1);
  }
  100% {
    color: var(--color-text6);
  }
}
@keyframes nhapnhay {
  0% {
    color: var(--color-text6);
  }
  50% {
    color: var(--color-text1);
  }
  100% {
    color: var(--color-text6);
  }
}
.sidebars .btn-register-promotion {
  font-family: var(--font-family-SFProDisplay-Bold), sans-serif;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
  width: 100%;
  background: var(--color-text2);
  text-align: center;
  margin-top: 10px;
  padding: 10px 0;
  color: var(--color-text6);
}
form.form-contact textarea {
  min-height: 102px;
}
form.form-contact input::placeholder,
form.form-contact textarea::placeholder,
form.form-contact input,
form.form-contact textarea {
  font-family: var(--font-family-Roboto-Regular), sans-serif !important;
  font-size: 16px !important;
  color: var(--color-text1) !important;
  background: var(--color-text8);
  border: 1px solid var(--color-text8);
  border-radius: 0;
  margin-bottom: 20px;
}
form.form-contact input {
  min-height: 51px;
}
form.form-contact textarea:focus,
form.form-contact input:focus {
  box-shadow: none;
  outline: none;
  background: var(--color-text8);
  border: 1px solid var(--color-text8);
}
form.form-contact button.submit {
  font-family: var(--font-family-Roboto-Bold), sans-serif;
  font-size: 20px;
  color: var(--color-text1);
  font-weight: bold;
  text-transform: uppercase;
  background: var(--color-text8);
  padding: 10px 30px;
  border: none;
  margin-top: 20px;
}
form.form-contact label {
  font-family: var(--font-family-Roboto-Bold), sans-serif;
  font-size: 20px;
  color: var(--color-text1);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}
/* Detail */
.menu-games {
  display: none;
}
/* Sport */
.sport .banner-page {
  margin-top: 30px;
}
.section-hot-news {
  margin-top: 30px;
}
.section-bg {
  background: url(../img/sport/bg-section.jpg) no-repeat center center;
  width: 100%;
  background-size: contain;
  background-position-y: 0;
  padding: 5rem 1rem;
}
.section-hot-news .right .post-related .right,
.section-hot-news .right .post-related .left {
  height: 133px;
}
.section-hot-news .right .post-related {
  margin-bottom: 30px;
}
.section-hot-news a.title-link h1,
.section-hot-news a.title-link {
  font-family: var(--font-family-Roboto-Bold), sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 33px;
  color: var(--color-text1);
  text-align: left;
}
.section-hot-news a.title-link {
  margin-top: 50px;
}
.section-hot-news p {
  font-family: var(--font-family-Roboto-Regular), sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: var(--color-text1);
  text-align: left;
  margin-top: 30px;
}
.section-hot-news .item {
  text-align: center;
}
.section-hot-news .owl-next,
.section-hot-news .owl-prev {
  top: 45%;
}
.section-hot-news .owl-prev {
  left: 30%;
}
.section-hot-news .owl-next {
  right: 30%;
}
.pos-title {
  position: relative;
}
.pos-title h2.title {
  position: absolute;
  right: 6%;
  top: 16px;
  z-index: 1;
  font-family: var(--font-family-SFProDisplay-Heavy), sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}
.section-banner .groups {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-banner .groups .right-banner,
.section-banner .groups .left-banner {
  display: none;
}
.sport .list-top-desk {
  display: block;
}
.sport .list-top-desk .card-news {
  padding: 0;
  margin-bottom: 15px;
}
.sport .list-top-desk .card-new {
  padding: 0 0 15px 0;
}
.sport .list-top-desk .card-new h1 {
  text-align: left;
}
.sport .list-top-desk .card-new p {
  padding: 0 10px;
  font-size: 15px;
  font-family: var(--font-family-Roboto-Regular), sans-serif;
  line-height: 20px;
  margin-bottom: 20px;
}
/* Sport */
/* Other */
.owl-carousel .owl-item img,
.carousel-home-desk .item .item-banner img {
  border-radius: 12px;
}
/* Other */
@media screen and (min-width: 768px) {
  /* Header */
  .header .right a {
    margin-right: 20px;
  }
  .header .right a:last-child {
    margin-right: 0;
  }
  .header .header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .list-top-mobile {
    margin-top: 20px;
  }
  .section-banner .list-top-mobile .card-news {
    min-height: 250px;
  }
  .section-banner .list-top-mobile .card-news .card-new img {
    height: 200px;
  }
  .section-banner .list-top-mobile .card-news .card-new span.icon img {
    height: 11px;
  }
  .section-banner .list-top-mobile .card-news .card-new {
    width: 340px;
    margin: auto;
  }
  /* Header */
  /* About */
  .section-aboutst666 .about-container {
    padding-top: 100px;
  }
  .section-aboutst666 .tags-about {
    width: 444px;
    height: 57px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-aboutst666 .item-about {
    padding: 0 60px;
  }
  .section-aboutst666 h3 {
    font-size: 35px;
  }
  .readmore-about {
    margin: 15px 0;
    padding: 0 50px;
  }
  /* About */
  /* Section HR */
  .section-hr {
    display: block;
  }
  .footer .footer-top .list-services,
  .section-news .news,
  .section-hr .boxs {
    margin-bottom: 0;
    width: 364px;
  }
  .section-hr .row,
  .section-news .row {
    justify-content: space-between;
  }
  .footer .footer-top .list-services:nth-child(2n) {
    padding: 0 15px;
  }
  /* Section HR */
  /* SEction News */
  .section-news .news .new .icon {
    display: flex;
    font-size: 14px;
  }
  .section-news .news .new .groups .img-news {
    height: 220px;
    width: 100%;
  }
  .section-news .news .new .groups .img-news img {
    height: 100%;
  }
  .section-news .news .new .groups .information {
    overflow: hidden;
    width: 100%;
    min-height: 345px;
    justify-content: flex-start;
  }
  .section-news .news .new {
    background: var(--color-text4);
  }
  .section-news .news .new .groups p {
    display: block;
  }
  .section-news .news .new .groups .readmore {
    display: block;
    width: 100%;
    margin-top: 15px;
  }
  .section-news .new .groups {
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
  }
  .section-news .news .new .groups h2 {
    font-size: 18px;
    margin-top: 15px;
  }
  .section-news .news .new .groups .date {
    color: var(--color-text1);
    margin: 0 0 10px;
  }
  .section-news .news,
  .section-hr .boxs {
    width: 234px;
  }
  .footer .footer-top .footer-top-container {
    padding: 0;
  }
  .footer .footer-top .list-services {
    width: 234px;
    padding: 0 1rem;
  }
  /* SEction News */
  /* Footer */
  /* Footer */
  /* Carosel Mobile */
  .carousel-mobile {
    display: none !important;
  }
  /* Carosel Mobile */
  /* menu mobile  */
  .logo-top h2 {
    display: none;
  }
  /* menu mobile  */
  /* Detail */
  .banner-detail2 .container,
  .banner-detail .container {
    padding-left: 0;
    padding-right: 0;
  }
  .banner-detail2 img {
    height: 100%;
    max-height: 600px;
  }
  .content p,
  .content h3.title,
  #ez-toc-container ul li a,
  .list-menu ul li a {
    font-size: 16px;
  }
  .post-related {
    margin-bottom: 0;
  }
  .banner-detail img {
    height: 276px;
  }
  .list-post-related .post-related:nth-child(2n + 1) {
    padding-left: 10px;
    padding-right: 10px;
  }
  /* Detail */
  /* Sport */
  .section-hot-news .owl-next,
  .section-hot-news .owl-prev {
    top: 64%;
  }
  .pos-title h2.title {
    right: 12%;
    top: -6px;
  }
  .sport .list-top-desk .card-news {
    padding: 0.5rem;
  }
  /* Sport */
}

@media screen and (min-width: 992px) {
  .carousel-home-mobile .item .item-banner a {
    width: 100%;
  }
  .section-news .news,
  .section-hr .boxs {
    width: 310px;
  }
  .footer .footer-top .footer-top-container {
    padding: 0;
  }
  .footer .footer-top .list-services {
    width: 317px;
  }
  /* Footer */
  .footer .footer-top .list-services:first-child {
    padding: 0;
  }
  /* Footer */
  /* Sport */
  .sport .banner-page .container {
    padding: 0;
  }
  /* Sport */
}

@media screen and (min-width: 1024px) {
  /* Header */
  .header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  .header .container {
    padding-left: 0;
    padding-right: 0;
  }
  .header .left {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 72%;
  }
  .header .left p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .header .right {
    display: flex !important;
    flex-direction: row;
    width: auto;
    align-items: flex-end;
    margin-bottom: 14px;
  }
  .logo-top {
    margin-left: -40px;
  }
  .logo-top .logo-img {
    width: 226px;
  }
  .carousel-home {
    height: 510px;
  }
  .carousel-home.carousel-home-desk .item .item-banner:nth-child(2n + 1) {
    padding-right: 6px;
  }
  .carousel-home.carousel-home-desk .item .item-banner:nth-child(2n + 2) {
    padding-left: 6px;
  }
  .carousel-home .owl-stage .owl-item,
  .carousel-home .owl-stage .item,
  .carousel-home .owl-stage,
  .carousel-home .owl-stage-outer {
    height: 100%;
  }
  .carousel-home-desk .item .item-banner a,
  .carousel-home-desk .item .item-banner img {
    height: 100%;
  }
  .carousel-home-desk .item .item-banner:nth-child(3),
  .carousel-home-desk .item .item-banner:nth-child(4) {
    margin-bottom: 0;
  }
  .list-top-mobile {
    margin-top: 40px;
  }
  .ring-noti {
    display: block;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 20px 0 0;
  }
  .ring-noti .group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 898px;
    margin: auto;
    padding-left: 0;
    position: relative;
  }
  .ring-noti img {
    width: 20px;
    margin-right: 15px;
    position: relative;
    z-index: 2;
    animation: swing infinite;
    animation-duration: 0.2s;
    transition: 0.4s;
  }
  .ring-noti p {
    font-family: var(--font-family-Roboto-Regular), sans-serif;
    font-size: 16px;
    color: var(--color-text1);
    animation: ring infinite;
    animation-duration: 25s;
    white-space: nowrap;
  }
  .ring-noti p .text-red {
    color: var(--color-text6);
  }
  .ring-noti .image {
    position: relative;
    left: 36px;
  }
  .ring-noti .group::before {
    content: "";
    position: absolute;
    top: 0;
    left: -4px;
    z-index: 1;
    background: #ffffff;
    display: block;
    width: 30px;
    height: 35px;
  }
  /* .ring-noti .image:before {
    content: "";
    position: absolute;
    top: 0;
    left: -4px;
    z-index: 1;
    background: #ffffff;
    display: block;
    width: 30px;
    height: 35px;
  } */
  @keyframes ring {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes swing {
    20% {
      transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
      transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
      transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
      transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
      transform: rotate3d(0, 0, 1, 0deg);
    }
  }
  .header .left p {
    text-align: left;
  }
  .section-banner .list-top-desk .card-news {
    min-height: 250px;
  }
  .section-banner .list-top-desk .card-new {
    padding-bottom: 16px;
  }
  .section-banner .list-top-mobile .card-news .card-new img {
    height: auto;
  }
  .section-banner .list-top-mobile .reactions,
  .section-banner .list-top-mobile .card-news h1.title {
    padding: 0 20px;
  }
  .menu-games {
    margin-top: 0;
  }
  .header .left p {
    font-size: 24px;
  }
  .menu-games {
    display: block;
  }
  .menu-games a img {
    width: 68px;
    height: 68px;
  }
  .menu-socials a img {
    width: 68px;
    height: 68px;
  }
  .carousel-home .owl-dots {
    margin-top: 0;
  }
  /* Header */
  /* FOoter */
  .footer-top {
    padding-left: 0;
    padding-right: 0;
  }
  .footer-top-container {
    padding-left: 11px;
    padding-right: 11px;
  }
  .menu-socials {
    position: fixed;
    top: 25%;
    right: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .menu-games {
    position: fixed;
    top: 25%;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .menu-games a,
  .menu-socials a {
    margin-bottom: 8px;
  }
  .footer .footer-bottom {
    display: block;
  }
  .footer .footer-top .right a {
    font-size: 15px;
  }
  .footer .footer-top .list-services:first-child {
    padding: 0 1rem;
  }
  .footer .footer-top .list-services:nth-child(2) {
    padding: 0 0.7rem;
  }
  .footer .footer-top .list-services {
    padding: 0 1.7rem;
  }
  /* Footer */
  /* Section News */
  .section-news .news .new .groups .information {
    min-height: 270px;
  }
  .section-news .news .new .icon {
    font-size: 20px;
  }
  /* Section News */
  /* Detail */
  .menu-child ul {
    padding: 20px 50px;
  }
  .menu-child li a {
    font-size: 25px;
  }
  .sidebars .list-post-related {
    padding: 0;
  }
  .list-post-related {
    margin: 45px 0;
  }
  .main-content {
    padding-left: 0;
    padding-right: 5px;
  }
  /* Detail */
  /* Section HR */
  .section-hr .box {
    height: 133px;
    padding: 15px;
  }
  .section-hr .clb img {
    width: 56px;
  }
  .section-hr .box .images {
    width: 30%;
  }
  .section-hr .box .right {
    width: 68%;
  }
  /* Section HR */
  /* Sport */
  .section-hot-news .item {
    padding: 0 7rem;
  }
  .section-hot-news .owl-next,
  .section-hot-news .owl-prev {
    top: 32%;
  }
  .section-hot-news .owl-prev {
    left: 0;
  }
  .section-hot-news .owl-next {
    right: 0;
  }
  .pos-title h2.title {
    right: 16%;
    top: 0;
  }
  /* Sport */
}
@media screen and (min-width: 1200px) {
  /* Header */
  .carousel-home.carousel-home-mobile {
    display: none;
  }
  .carousel-home.carousel-home-desk {
    display: block;
    height: 100%;
  }
  .list-top-mobile {
    display: none;
  }
  .list-top-desk {
    display: block;
  }
  .carousel-left {
    padding-left: 0;
    padding-right: 0;
  }
  .section-banner .list-top-desk {
    padding-right: 9px;
  }
  .section-banner .list-top-desk .card-news {
    min-height: 265px;
    /* padding-top: 0;
    padding-bottom: 0; */
  }
  .section-banner .list-top-desk .card-news:nth-child(2n + 1) {
    padding-right: 5px;
  }
  .section-banner .list-top-desk .card-news:nth-child(2n + 2) {
    padding-left: 5px;
  }
  .section-banner .list-top-desk .card-news:nth-child(2),
  .section-banner .list-top-desk .card-news:nth-child(1) {
    padding-top: 0;
  }
  .header .left {
    width: 78%;
  }
  .header .left p {
    font-size: 20px;
  }
  /* Header */
  /* Section NEws */
  .section-news .news,
  .section-hr .boxs {
    width: 365px;
  }
  .footer .footer-top .footer-top-container {
    padding: 0 15px;
  }
  .footer .footer-top .list-services {
    width: 375px;
  }
  .section-news .news .new .icon {
    font-size: 25px;
  }
  /* Section NEws */
  /* About */
  .section-aboutst666 .item-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .section-aboutst666 .item-about p {
    padding: 0 30px;
    font-size: 15px;
  }
  .section-aboutst666 .item-about {
    height: 100%;
  }
  .readmore-about {
    display: none;
  }
  /* About */
  /* Footer */
  .footer .footer-top .list-services:first-child {
    padding: 0;
  }
  /* .footer .footer-top .list-services:nth-child(2) {
    padding: 0 0.7rem;
  }
  .footer .footer-top .list-services {
    padding: 0 1.7rem;
  } */
  /* Footer */
  /* Sport */
  .section-bg {
    padding: 5rem 6rem;
  }
  .section-banner .section-bg {
    padding: 5rem 0;
  }
  .section-banner .groups .right-banner,
  .section-banner .groups .left-banner {
    display: inline-block;
  }
  .sport .list-top-desk .card-news {
    padding: 0 !important;
    width: 250px;
    margin-right: 15px;
  }
  .sport .list-top-desk .card-news:last-child {
    margin-right: 0;
  }
  .section-banner .groups {
    flex-direction: row;
  }
  .section-banner .groups .list-top-desk {
    padding: 0;
  }
  /* Sport */
}
@media screen and (min-width: 1366px) {
  /* Header */
  .header .left p {
    font-size: 20px;
  }
  /* Header */
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1250px;
    width: 1250px;
  }
  /* Header */
  .carousel-home.carousel-home-desk .item .item-banner {
    height: 260px;
  }
  .menu-socials {
    /* right: 1.5%; */
  }
  .menu-games {
    /* left: 1.5%; */
  }
  .header .left {
    width: auto;
  }
  .header .left p {
    font-size: 22px;
    margin-bottom: 6px;
  }
  /* Header */
  /* Section HR */
  .section-hr .ct img {
    height: 133px;
    transform: translateY(-15px) translateX(-16px);
  }
  .section-news .news,
  .section-hr .boxs {
    width: 400px;
  }
  .section-news .news .new {
    padding: 1.5rem;
  }
  .footer .footer-top .list-services {
    width: 411px;
  }
  /* Section HR */
  /* Sport */
  .pos-title h2.title {
    right: 22%;
    top: 0;
  }
  .sport .list-top-desk .card-news {
    width: 294px;
    margin-right: 30px;
  }
  /* Sport */
}
@media screen and (min-width: 1636px) {
  .menu-socials {
    right: 2%;
  }
  .menu-games {
    left: 2%;
  }
  /* Header */
  .logo-top {
    margin-left: -80px;
  }
  .header .left p {
    font-size: 24px;
  }
  /* Header */
}
@media screen and (min-width: 1800px) {
  .menu-socials {
    right: 6%;
  }
  .menu-games {
    left: 6%;
  }
}
@media screen and (min-width: 1920px) {
  .menu-socials {
    right: 8%;
  }
  .menu-games {
    left: 8%;
  }
}
